# Node modules (both client & server)
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Build folders
dist/
build/
client/dist/
client/build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db